.photo{
	display: block;
	height: 263px;
}
.photo img{
	max-width: 100%;
	max-height: 100%;
	border: outset #4000FF;
}


body{
	background-color: #DF0101;
	padding-top: 10px;
}
h1{
	text-decoration: underline;
	text-align: center;
	padding-bottom: 20px;
}
/*.glyphicon-thumbs-up{
	position: relative;
}
.glyphicon-thumbs-up:hover{
	
}
.glyphicon-thumbs-down{
	position: relative;
}*/
.profile-pic{
	position: relative;
	height: 150px;
	width: 140px;
	bottom: 150px;
	display: none;
}